<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/index.css">
    <title>Chronicle</title>
</head>
<body>

    <div>

        <header></header>
            
        <div class="downloads-dialog-wrapper">
            <h2>Do you want Chronicle to manage the downloads folder for you ?</h2>
            <div class="downloads-dialog-button-wrapper">
                <button id="yes-btn">Yes</button> <button id="no-btn">No</button>
            </div>
        </div>
    </div>
</body>

<script src="./js/importDownloads.js"></script>
</html>