<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="D:\Aaarsh\javascript\Chronicle\components\css\index.css">
    <title>Chronicle</title>
</head>
<body>

    <div>

        <header></header>

        <div class="navbar">
            <button>Global Tasks</button>
            <button>Import Folder</button>
        </div>

        <div class="folder-list" id="folder-list">
            <div class="folder-info">
                <h2></h2>
            </div>
        </div>
    </div>
</body>
</html>