<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/index.css">
    <title>Chronicle</title>
</head>
<body>

    <div>

        <header></header>

        <div class="navbar">
            <button id="global-tasks">Global Tasks</button>
            <button id="import-folder">Import Folder</button>
        </div>

        <div class="folder-list" id="folder-list">
            
        </div>
    </div>
</body>

<script src="./js/index.js"></script>
</html>